.circle {
  width: 250px;
  height: 250px;
  padding: 80px;
  margin: 40px;
  background-color: linear-gradient(90deg, #ffcf2a 0%, #ffc52d 20.77%, #ffab34 83.08%);
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  color: #000;
  background-image: url(../img/Bitenny-%20Team%20member.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: #a4dbd3;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #30AAE8;
  text-decoration: none;
}

footer a {
  color: white;
}
footer a:hover {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

.jumbo-text {
  font-size: 80px !important;
  line-height: 1.1;
}
@media (max-width: 768px), (max-height: 768px) {
  .jumbo-text {
    font-size: 50px !important;
  }
}

.bg-blue {
  background: -moz-linear-gradient(0% 50% 0deg, #1fc9dd 0%, #36a0eb 100%);
  background: -webkit-linear-gradient(0deg, #1fc9dd 0%, #36a0eb 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #1fc9dd), color-stop(1, #36a0eb));
  background: -o-linear-gradient(0deg, #1fc9dd 0%, #36a0eb 100%);
  background: -ms-linear-gradient(0deg, #1fc9dd 0%, #36a0eb 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FC9DD', endColorstr='#36A0EB' ,GradientType=0)";
  background: linear-gradient(90deg, #1fc9dd 0%, #36a0eb 100%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color="#000000") progid:DXImageTransform.Microsoft.gradient(startColorstr="#1FC9DD", endColorstr="#36A0EB", GradientType=1);
}

.bg-yellow {
  background: -moz-linear-gradient(0% 50% 0deg, #ffcf2a 0%, #ffc52d 20.77%, #ffab34 83.08%);
  background: -webkit-linear-gradient(0deg, #ffcf2a 0%, #ffc52d 20.77%, #ffab34 83.08%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #ffcf2a), color-stop(0.2077, #ffc52d), color-stop(0.8308, #ffab34));
  background: -o-linear-gradient(0deg, #ffcf2a 0%, #ffc52d 20.77%, #ffab34 83.08%);
  background: -ms-linear-gradient(0deg, #ffcf2a 0%, #ffc52d 20.77%, #ffab34 83.08%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCF2A', endColorstr='#FFAB34' ,GradientType=0)";
  background: linear-gradient(90deg, #ffcf2a 0%, #ffc52d 20.77%, #ffab34 83.08%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color="#000000") progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFCF2A", endColorstr="#FFAB34", GradientType=1);
}

.bg-orange {
  background: -moz-linear-gradient(0% 50% 0deg, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
  background: -webkit-linear-gradient(0deg, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #ff6250), color-stop(0.2238, #ff724a), color-stop(0.7229, #ff923f), color-stop(1, #ff9e3b));
  background: -o-linear-gradient(0deg, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
  background: -ms-linear-gradient(0deg, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6250', endColorstr='#FF9E3B' ,GradientType=0)";
  background: linear-gradient(90deg, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color="#000000") progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF6250", endColorstr="#FF9E3B", GradientType=1);
}

.bg-lightblue {
  background: -moz-linear-gradient(0% 50% 0deg, #2ad5c0 0.23%, #6bb2de 100%);
  background: -webkit-linear-gradient(0deg, #2ad5c0 0.23%, #6bb2de 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.0023, #2ad5c0), color-stop(1, #6bb2de));
  background: -o-linear-gradient(0deg, #2ad5c0 0.23%, #6bb2de 100%);
  background: -ms-linear-gradient(0deg, #2ad5c0 0.23%, #6bb2de 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2AD5C0', endColorstr='#6BB2DE' ,GradientType=0)";
  background: linear-gradient(90deg, #2ad5c0 0.23%, #6bb2de 100%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.07);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color="#000000") progid:DXImageTransform.Microsoft.gradient(startColorstr="#2AD5C0", endColorstr="#6BB2DE", GradientType=1);
}

.bg-lilac {
  background: -moz-linear-gradient(0% 50% 0deg, #87a3ff 0%, #b48dff 100%);
  background: -webkit-linear-gradient(0deg, #87a3ff 0%, #b48dff 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #87a3ff), color-stop(1, #b48dff));
  background: -o-linear-gradient(0deg, #87a3ff 0%, #b48dff 100%);
  background: -ms-linear-gradient(0deg, #87a3ff 0%, #b48dff 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#87A3FF', endColorstr='#B48DFF' ,GradientType=0)";
  background: linear-gradient(90deg, #87a3ff 0%, #b48dff 100%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color="#000000") progid:DXImageTransform.Microsoft.gradient(startColorstr="#87A3FF", endColorstr="#B48DFF", GradientType=1);
}

.bg-purple {
  background: -moz-linear-gradient(0% 50% 0deg, #4a2a6c 0%, #6a369b 100%);
  background: -webkit-linear-gradient(0deg, #4a2a6c 0%, #6a369b 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #4a2a6c), color-stop(1, #6a369b));
  background: -o-linear-gradient(0deg, #4a2a6c 0%, #6a369b 100%);
  background: -ms-linear-gradient(0deg, #4a2a6c 0%, #6a369b 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A2A6C', endColorstr='#6A369B' ,GradientType=0)";
  background: linear-gradient(90deg, #4a2a6c 0%, #6a369b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4A2A6C", endColorstr="#6A369B", GradientType=1);
}

.bg-gray {
  background: -moz-linear-gradient(0% 50% 0deg, #939393 3.4%, #d8d8d8 100%);
  background: -webkit-linear-gradient(0deg, #939393 3.4%, #d8d8d8 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.034, #939393), color-stop(1, #d8d8d8));
  background: -o-linear-gradient(0deg, #939393 3.4%, #d8d8d8 100%);
  background: -ms-linear-gradient(0deg, #939393 3.4%, #d8d8d8 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#D8D8D8' ,GradientType=0)";
  background: linear-gradient(90deg, #939393 3.4%, #d8d8d8 100%);
  background: linear-gradient(90deg, #939393 3.4%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#939393", endColorstr="#D8D8D8", GradientType=1);
}

.bg-black {
  background-color: #232223;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.no-padding {
  padding: 0 !important;
}

.flex-center {
  display: flex;
  align-items: center;
}

.footer-input-email {
  width: 420px !important;
}
@media (max-width: 768px) {
  .footer-input-email {
    width: 100% !important;
  }
}

#mainNav {
  border-bottom: none;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: "Rubik", sans-serif;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: #fff;
  border-bottom: 3px solid #f05f40;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: #fff;
    background-color: #fff;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 20px 1rem;
  }
}
@media (min-width: 992px) and (max-width: 768px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    padding: 20px 1rem;
    color: rgba(0, 0, 0, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #30AAE8;
  }
}
@media (min-width: 992px) {
  #mainNav.navbar-shrink {
    border-bottom: none;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #30AAE8;
  }
}

.navbar-logo {
  height: 50px;
  width: 120px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav > li.nav-item > .btn {
  margin-top: 11px;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #232223;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
header.masthead h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-height: 768px) {
  header.masthead h1 {
    font-size: 1.7rem;
    font-weight: 700;
  }
}
header.masthead p {
  font-weight: 300;
}
@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

section.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #232223;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 1200px) {
  section.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.text-primary {
  color: #F05F40 !important;
}

.text-secondary {
  color: #a1a1a1 !important;
}

.text-black {
  color: #000000;
}

.btn {
  border: none;
  border-radius: 300px;
  font-size: 20px;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  color: #fff;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6250), color-stop(22.38%, #ff724a), color-stop(72.29%, #ff923f), to(#ff9e3b));
  background-image: -webkit-linear-gradient(left, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
  background-image: -o-linear-gradient(left, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
  background-image: linear-gradient(to right, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn-primary:hover {
  background-position: right center;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
}
.btn-primary:focus, .btn-primary:active {
  background: -moz-linear-gradient(0% 50% 0deg, #ff9e3b 0%, #ff8743 21.76%, #ff734a 48.38%, #ff664f 74.66%, #ff6250 100%);
  background: -webkit-linear-gradient(0deg, #ff9e3b 0%, #ff8743 21.76%, #ff734a 48.38%, #ff664f 74.66%, #ff6250 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #ff9e3b), color-stop(0.2176, #ff8743), color-stop(0.4838, #ff734a), color-stop(0.7466, #ff664f), color-stop(1, #ff6250));
  background: -o-linear-gradient(0deg, #ff9e3b 0%, #ff8743 21.76%, #ff734a 48.38%, #ff664f 74.66%, #ff6250 100%);
  background: -ms-linear-gradient(0deg, #ff9e3b 0%, #ff8743 21.76%, #ff734a 48.38%, #ff664f 74.66%, #ff6250 100%);
  background: linear-gradient(90deg, #ff9e3b 0%, #ff8743 21.76%, #ff734a 48.38%, #ff664f 74.66%, #ff6250 100%) !important;
}
.btn-primary:focus, .btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(255, 114, 74, 0.231372549);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 114, 74, 0.231372549);
}

.btn-secondary {
  background-image: -webkit-gradient(linear, left top, right top, from(#36a0eb), color-stop(51.93%, #2ab5e4), to(#1fc9dd));
  background-image: -webkit-linear-gradient(left, #36a0eb 0%, #2ab5e4 51.93%, #1fc9dd 100%);
  background-image: -o-linear-gradient(left, #36a0eb 0%, #2ab5e4 51.93%, #1fc9dd 100%);
  background-image: linear-gradient(to right, #36a0eb 0%, #2ab5e4 51.93%, #1fc9dd 100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn-secondary:hover {
  background-image: -webkit-gradient(linear, right top, right top, from(#36a0eb), color-stop(51.93%, #2ab5e4), to(#1fc9dd));
  background-image: -webkit-linear-gradient(right, #36a0eb 0%, #2ab5e4 51.93%, #1fc9dd 100%);
  background-image: -o-linear-gradient(right, #36a0eb 0%, #2ab5e4 51.93%, #1fc9dd 100%);
  background-image: linear-gradient(to left, #36a0eb 0%, #2ab5e4 51.93%, #1fc9dd 100%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
}

.btn-gray {
  background: -moz-linear-gradient(0% 50% 0deg, #939393 3.4%, #d8d8d8 100%);
  background: -webkit-linear-gradient(0deg, #939393 3.4%, #d8d8d8 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.034, #939393), color-stop(1, #d8d8d8));
  background: -o-linear-gradient(0deg, #939393 3.4%, #d8d8d8 100%);
  background: -ms-linear-gradient(0deg, #939393 3.4%, #d8d8d8 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#D8D8D8' ,GradientType=0)";
  background: linear-gradient(90deg, #939393 3.4%, #d8d8d8 100%);
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#939393", endColorstr="#D8D8D8", GradientType=1);
}

@media (max-width: 768px) {
  .btn-block-xs {
    display: block;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}

.btn-outline-orange {
  color: #fff;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border: 1px solid #FF8444;
}
.btn-outline-orange:hover {
  background: #fff;
  color: black;
  border: 1px solid #fff;
}
.btn-outline-orange:focus {
  box-shadow: 0 0 0 0.2rem rgba(143, 79, 0, 0.25);
}

.btn-outline-white {
  color: #fff;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border: 1px solid #fff;
}
.btn-outline-white:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #30AAE8 !important;
}

@media (max-width: 1999px) {
  .h-100 {
    height: auto !important;
  }
}
@media (min-width: 1200px) {
  .h-100 {
    height: 100% !important;
  }
}

.progress {
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  border: 6px solid #454545;
}

.form-control {
  border-radius: 1rem;
}

.list-group-item {
  z-index: 1;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.list-group-item:last-of-type {
  border: none;
}

.modal-content {
  border: none;
  background-color: transparent;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.close {
  color: #fff;
  opacity: 1;
  font-size: 4.5rem;
  text-shadow: none;
}

.close:focus,
.close:hover {
  color: #FF8444;
  text-decoration: none;
  outline: none;
  opacity: 1;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1;
  font-size: 80px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .modal-title {
    font-size: 52px !important;
  }
}

.fade {
  background-color: rgba(33, 37, 41, 0.95);
}

.scroll-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  right: 50%;
}
@media (max-width: 1200px) {
  .scroll-down {
    display: none;
  }
}

/*.container .mouse {
  width: 28px;
  height: 50px;
  border: 2px solid #ecf0f1;
  margin: 0 auto;
  border-radius: 30px;
}

.container .mouse .mouse-wheel {
  overflow: hidden;
  margin-top: 5px;
}*/
.container .mouse .mouse-wheel span {
  display: block;
  margin: 5px auto;
  width: 5px;
  height: 5px;
}

/*.container .mouse .mouse-wheel span.wheel {
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  width: 0;
}*/
.container .mouse .mouse-wheel span.arrow {
  border-bottom: 2px solid #ecf0f1;
  border-right: 2px solid #ecf0f1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: scrollDown;
  animation: scrollDown;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes scrollDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
}
@keyframes scrollDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
}
.clock {
  background-color: #fff;
  border-radius: 43px;
  -moz-border-radius: 43px;
  -webkit-border-radius: 43px;
  font-family: "Rubik", sans-serif;
  padding-top: 12px;
}
@media (min-width: 768px) {
  .clock {
    height: 110px;
  }
}
@media (max-height: 768px) {
  .clock {
    height: 80px;
    padding-top: 7px;
  }
}

.clock-days:before {
  content: "days";
}
@media (max-width: 768px) {
  .clock-days:before {
    content: "days";
  }
}

.clock-hours:before {
  content: "hours";
}
@media (max-width: 768px) {
  .clock-hours:before {
    content: "hrs";
  }
}

.clock-minutes:before {
  content: "minutes";
}
@media (max-width: 768px) {
  .clock-minutes:before {
    content: "min";
  }
}

.clock-seconds:before {
  content: "seconds";
}
@media (max-width: 768px) {
  .clock-seconds:before {
    content: "sec";
  }
}

@media (min-width: 1200px) {
  .bg-payInStore {
    background-image: url(../img/bitenny-payatstore.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    padding: 0;
    background-attachment: fixed;
    background-size: 45%;
  }
}
@media screen and (min-width: 1200px) and (-ms-high-contrast: active), (min-width: 1200px) and (-ms-high-contrast: none) {
  .bg-payInStore {
    background-size: 60%;
    background-attachment: scroll;
  }
}
@media (min-width: 1200px) {
  @supports (-ms-ime-align: auto) {
    .bg-payInStore {
      background-attachment: scroll;
    }
  }
}

@media (min-width: 1200px) {
  .bg-payWithBitenny {
    background-image: url(../img/bitenny-payWithBitenny.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    padding: 0;
    background-attachment: fixed;
    background-size: 45%;
  }
}
@media screen and (min-width: 1200px) and (-ms-high-contrast: active), (min-width: 1200px) and (-ms-high-contrast: none) {
  .bg-payWithBitenny {
    background-size: 60%;
    background-attachment: scroll;
  }
}
@media (min-width: 1200px) {
  @supports (-ms-ime-align: auto) {
    .bg-payWithBitenny {
      background-attachment: scroll;
    }
  }
}

@media (min-width: 1200px) {
  .bg-payPhone {
    background-image: url(../img/bitenny-payWithPhone.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100%;
    padding: 0;
    background-attachment: fixed;
    background-size: 17%;
  }
}
@media screen and (min-width: 1200px) and (-ms-high-contrast: active), (min-width: 1200px) and (-ms-high-contrast: none) {
  .bg-payPhone {
    background-size: 60%;
    background-attachment: scroll;
  }
}
@media (min-width: 1200px) {
  @supports (-ms-ime-align: auto) {
    .bg-payPhone {
      background-attachment: scroll;
    }
  }
}

.img-payInStore {
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100%;
  padding: 0;
  background-attachment: fixed;
  background-size: 85%;
}

.social-icon {
  height: 35px;
  padding: 10px;
}
.social-icon:hover {
  padding-bottom: 8px;
}

.features-icons {
  height: 75px;
}

.bitenny-token {
  height: 280px;
  width: 60%;
  height: 60%;
}
@media (max-width: 768px) {
  .bitenny-token {
    width: 100%;
    height: 100%;
  }
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(41, 41, 41, 0.27);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: linear-gradient(to right, #ff6250 0%, #ff724a 22.38%, #ff923f 72.29%, #ff9e3b 100%);
}

#return-to-top:hover i {
  color: #fff;
  top: 10px;
}

/*# sourceMappingURL=bitenny.css.map */
