// Bootstrap overrides
.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: #a1a1a1 !important;
}

.text-black {
  color: #000000;
}

.btn {
  border: none;
  border-radius: 300px;
  font-size: 20px;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  color: $white;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 98, 80, 1)), color-stop(22.38%, rgba(255, 114, 74, 1)), color-stop(72.29%, rgba(255, 146, 63, 1)), to(rgba(255, 158, 59, 1)));
  background-image: -webkit-linear-gradient(left, rgba(255, 98, 80, 1) 0%, rgba(255, 114, 74, 1) 22.38%, rgba(255, 146, 63, 1) 72.29%, rgba(255, 158, 59, 1) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 98, 80, 1) 0%, rgba(255, 114, 74, 1) 22.38%, rgba(255, 146, 63, 1) 72.29%, rgba(255, 158, 59, 1) 100%);
  background-image: linear-gradient(to right, rgba(255, 98, 80, 1) 0%, rgba(255, 114, 74, 1) 22.38%, rgba(255, 146, 63, 1) 72.29%, rgba(255, 158, 59, 1) 100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  &:hover {
    background-position: right center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
  }
  &:focus,
  &:active {
    background: -moz-linear-gradient(0% 50% 0deg, rgba(255, 158, 59, 1) 0%, rgba(255, 135, 67, 1) 21.76%, rgba(255, 115, 74, 1) 48.38%, rgba(255, 102, 79, 1) 74.66%, rgba(255, 98, 80, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 158, 59, 1) 0%, rgba(255, 135, 67, 1) 21.76%, rgba(255, 115, 74, 1) 48.38%, rgba(255, 102, 79, 1) 74.66%, rgba(255, 98, 80, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(255, 158, 59, 1)), color-stop(0.2176, rgba(255, 135, 67, 1)), color-stop(0.4838, rgba(255, 115, 74, 1)), color-stop(0.7466, rgba(255, 102, 79, 1)), color-stop(1, rgba(255, 98, 80, 1)));
    background: -o-linear-gradient(0deg, rgba(255, 158, 59, 1) 0%, rgba(255, 135, 67, 1) 21.76%, rgba(255, 115, 74, 1) 48.38%, rgba(255, 102, 79, 1) 74.66%, rgba(255, 98, 80, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(255, 158, 59, 1) 0%, rgba(255, 135, 67, 1) 21.76%, rgba(255, 115, 74, 1) 48.38%, rgba(255, 102, 79, 1) 74.66%, rgba(255, 98, 80, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 158, 59, 1) 0%, rgba(255, 135, 67, 1) 21.76%, rgba(255, 115, 74, 1) 48.38%, rgba(255, 102, 79, 1) 74.66%, rgba(255, 98, 80, 1) 100%) !important;
  }
  &:focus,
  &:active {
    box-shadow: 0 0 0 0.2rem rgba(255, 114, 74, 0.23137254901960785);
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 114, 74, 0.23137254901960785);
}

.btn-secondary {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(54, 160, 235, 1)), color-stop(51.93%, rgba(42, 181, 228, 1)), to(rgba(31, 201, 221, 1)));
  background-image: -webkit-linear-gradient(left, rgba(54, 160, 235, 1) 0%, rgba(42, 181, 228, 1) 51.93%, rgba(31, 201, 221, 1) 100%);
  background-image: -o-linear-gradient(left, rgba(54, 160, 235, 1) 0%, rgba(42, 181, 228, 1) 51.93%, rgba(31, 201, 221, 1) 100%);
  background-image: linear-gradient(to right, rgba(54, 160, 235, 1) 0%, rgba(42, 181, 228, 1) 51.93%, rgba(31, 201, 221, 1) 100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  &:hover {
    background-image: -webkit-gradient(linear, right top, right top, from(rgba(54, 160, 235, 1)), color-stop(51.93%, rgba(42, 181, 228, 1)), to(rgba(31, 201, 221, 1)));
    background-image: -webkit-linear-gradient(right, rgba(54, 160, 235, 1) 0%, rgba(42, 181, 228, 1) 51.93%, rgba(31, 201, 221, 1) 100%);
    background-image: -o-linear-gradient(right, rgba(54, 160, 235, 1) 0%, rgba(42, 181, 228, 1) 51.93%, rgba(31, 201, 221, 1) 100%);
    background-image: linear-gradient(to left, rgba(54, 160, 235, 1) 0%, rgba(42, 181, 228, 1) 51.93%, rgba(31, 201, 221, 1) 100%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
  }

}

.btn-gray {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.034, rgba(147, 147, 147, 1)), color-stop(1, rgba(216, 216, 216, 1)));
  background: -o-linear-gradient(0deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#D8D8D8' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(147, 147, 147, 1) 3.4%,
  rgba(216, 216, 216, 1) 100%);
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#D8D8D8', GradientType=1);
}

.btn-block-xs {
  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
}

.text-xs-center {
  @media (max-width: 767px) {
    text-align: center;
  }
}

.btn-outline-orange {
  color: $white;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border: 1px solid #FF8444;
  &:hover {
    background: $white;
    color: black;
    border: 1px solid $white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(143, 79, 0, 0.25);
  }
}

.btn-outline-white {
  color: $white;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border: 1px solid $white;
  &:hover {
    background: $white;
    border: 1px solid $white;
    color: #30AAE8 !important;
  }
}

.h-100 {
  @media (max-width: 1999px) {
    height: auto !important;
  }
  @media (min-width: 1200px) {
    height: 100% !important;
  }
}

.progress {
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  border: 6px solid #454545;
}

.form-control {
  border-radius: 1rem;
}

.list-group-item {
  &:last-of-type {
    border: none;
  }
  z-index: 1;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, .125);
}


.modal-content {
  border: none;
  background-color: transparent;
}

.modal-header {
  border-bottom: none;

}

.modal-footer {
  border-top: none;
}

.close {
  color: #fff;
  opacity: 1;
  font-size: 4.5rem;
  text-shadow: none;
}

.close:focus,
.close:hover {
  color: #FF8444;
  text-decoration: none;
  outline: none;
  opacity: 1;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1;
  font-size: 80px;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 52px !important;
  }
}

.fade {
  background-color: rgba(33, 37, 41, 0.95);
}
