.clock {
  background-color: $white;
  border-radius: 43px;
  -moz-border-radius: 43px;
  -webkit-border-radius: 43px;
  @include sans-serif-font;
  padding-top: 12px;
  @media (min-width: 768px) {
    height: 110px;
  }
  @media (max-height: 768px) {
    height: 80px;
    padding-top: 7px;
  }
}

.clock-days:before {
  content: "days";
  @media (max-width: 768px) {
    content: "days";
  }
}

.clock-hours:before {
  content: "hours";
  @media (max-width: 768px) {
    content: "hrs";
  }
}

.clock-minutes:before {
  content: "minutes";
  @media (max-width: 768px) {
    content: "min";
  }
}

.clock-seconds:before {
  content: "seconds";
  @media (max-width: 768px) {
    content: "sec";
  }
}
