body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1400px;
  }
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: #30AAE8;
    text-decoration: none;
  }
}

footer a {
  color: white;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.jumbo-text {
  font-size: 80px !important;
  line-height: 1.1;
  @media (max-width: 768px), (max-height:768px) {
    font-size: 50px !important;
  }
}

.bg-blue {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(31, 201, 221, 1) 0%, rgba(54, 160, 235, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(31, 201, 221, 1) 0%, rgba(54, 160, 235, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(31, 201, 221, 1)), color-stop(1, rgba(54, 160, 235, 1)));
  background: -o-linear-gradient(0deg, rgba(31, 201, 221, 1) 0%, rgba(54, 160, 235, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(31, 201, 221, 1) 0%, rgba(54, 160, 235, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FC9DD', endColorstr='#36A0EB' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(31, 201, 221, 1) 0%, rgba(54, 160, 235, 1) 100%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FC9DD', endColorstr='#36A0EB', GradientType=1);
}

.bg-yellow {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(255, 207, 42, 1) 0%, rgba(255, 197, 45, 1) 20.77%, rgba(255, 171, 52, 1) 83.08%);
  background: -webkit-linear-gradient(0deg, rgba(255, 207, 42, 1) 0%, rgba(255, 197, 45, 1) 20.77%, rgba(255, 171, 52, 1) 83.08%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(255, 207, 42, 1)), color-stop(0.2077, rgba(255, 197, 45, 1)), color-stop(0.8308, rgba(255, 171, 52, 1)));
  background: -o-linear-gradient(0deg, rgba(255, 207, 42, 1) 0%, rgba(255, 197, 45, 1) 20.77%, rgba(255, 171, 52, 1) 83.08%);
  background: -ms-linear-gradient(0deg, rgba(255, 207, 42, 1) 0%, rgba(255, 197, 45, 1) 20.77%, rgba(255, 171, 52, 1) 83.08%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCF2A', endColorstr='#FFAB34' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(255, 207, 42, 1) 0%, rgba(255, 197, 45, 1) 20.77%, rgba(255, 171, 52, 1) 83.08%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCF2A', endColorstr='#FFAB34', GradientType=1);
}

.bg-orange {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(255, 98, 80, 1) 0%, rgba(255, 114, 74, 1) 22.38%, rgba(255, 146, 63, 1) 72.29%, rgba(255, 158, 59, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 98, 80, 1) 0%, rgba(255, 114, 74, 1) 22.38%, rgba(255, 146, 63, 1) 72.29%, rgba(255, 158, 59, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(255, 98, 80, 1)), color-stop(0.2238, rgba(255, 114, 74, 1)), color-stop(0.7229, rgba(255, 146, 63, 1)), color-stop(1, rgba(255, 158, 59, 1)));
  background: -o-linear-gradient(0deg, rgba(255, 98, 80, 1) 0%, rgba(255, 114, 74, 1) 22.38%, rgba(255, 146, 63, 1) 72.29%, rgba(255, 158, 59, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(255, 98, 80, 1) 0%, rgba(255, 114, 74, 1) 22.38%, rgba(255, 146, 63, 1) 72.29%, rgba(255, 158, 59, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6250', endColorstr='#FF9E3B' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(255, 98, 80, 1) 0%, rgba(255, 114, 74, 1) 22.38%, rgba(255, 146, 63, 1) 72.29%, rgba(255, 158, 59, 1) 100%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6250', endColorstr='#FF9E3B', GradientType=1);
}

.bg-lightblue {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(42, 213, 192, 1) 0.23%, rgba(107, 178, 222, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(42, 213, 192, 1) 0.23%, rgba(107, 178, 222, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.0023, rgba(42, 213, 192, 1)), color-stop(1, rgba(107, 178, 222, 1)));
  background: -o-linear-gradient(0deg, rgba(42, 213, 192, 1) 0.23%, rgba(107, 178, 222, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(42, 213, 192, 1) 0.23%, rgba(107, 178, 222, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2AD5C0', endColorstr='#6BB2DE' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(42, 213, 192, 1) 0.23%, rgba(107, 178, 222, 1) 100%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.07);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#2AD5C0', endColorstr='#6BB2DE', GradientType=1);
}

.bg-lilac {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(135, 163, 255, 1) 0%, rgba(180, 141, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(135, 163, 255, 1) 0%, rgba(180, 141, 255, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(135, 163, 255, 1)), color-stop(1, rgba(180, 141, 255, 1)));
  background: -o-linear-gradient(0deg, rgba(135, 163, 255, 1) 0%, rgba(180, 141, 255, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(135, 163, 255, 1) 0%, rgba(180, 141, 255, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#87A3FF', endColorstr='#B48DFF' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(135, 163, 255, 1) 0%, rgba(180, 141, 255, 1) 100%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#87A3FF', endColorstr='#B48DFF', GradientType=1);
}

.bg-purple {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(74, 42, 108, 1) 0%, rgba(106, 54, 155, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(74, 42, 108, 1) 0%, rgba(106, 54, 155, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(74, 42, 108, 1)), color-stop(1, rgba(106, 54, 155, 1)));
  background: -o-linear-gradient(0deg, rgba(74, 42, 108, 1) 0%, rgba(106, 54, 155, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(74, 42, 108, 1) 0%, rgba(106, 54, 155, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A2A6C', endColorstr='#6A369B' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(74, 42, 108, 1) 0%, rgba(106, 54, 155, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A2A6C', endColorstr='#6A369B', GradientType=1);
}

.bg-gray {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.034, rgba(147, 147, 147, 1)), color-stop(1, rgba(216, 216, 216, 1)));
  background: -o-linear-gradient(0deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#D8D8D8' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  background: linear-gradient(90deg, rgba(147, 147, 147, 1) 3.4%, rgba(216, 216, 216, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#D8D8D8', GradientType=1);
}

.bg-black {
  background-color: #232223
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.no-padding {
  padding: 0 !important;
}

.flex-center {
  display: flex;
  align-items: center;
}

.footer-input-email {
  width: 420px !important;
  @media (max-width: 768px) {
    width: 100% !important;
  }
}
