.bg-payInStore {
  @media (min-width: 1200px) {
    background-image: url(../img/bitenny-payatstore.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    padding: 0;
    background-attachment: fixed;
    background-size: 45%;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-size: 60%;
      background-attachment: scroll;
    }
    @supports (-ms-ime-align:auto) {
      background-attachment: scroll;
    }
  }
}

.bg-payWithBitenny {
  @media (min-width: 1200px) {
    background-image: url(../img/bitenny-payWithBitenny.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    padding: 0;
    background-attachment: fixed;
    background-size: 45%;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-size: 60%;
      background-attachment: scroll;
    }
    @supports (-ms-ime-align:auto) {
      background-attachment: scroll;
    }
  }
}

.bg-payPhone {
  @media (min-width: 1200px) {
    background-image: url(../img/bitenny-payWithPhone.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100%;
    padding: 0;
    background-attachment: fixed;
    background-size: 17%;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-size: 60%;
      background-attachment: scroll;
    }
    @supports (-ms-ime-align:auto) {
      background-attachment: scroll;
    }
  }
}

.img-payInStore {
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100%;
  padding: 0;
  background-attachment: fixed;
  background-size: 85%;
}

.social-icon {
  height: 35px;
  padding: 10px;
  &:hover {
    padding-bottom: 8px;
  }
}

.features-icons {
  height: 75px;
}

.bitenny-token {
  height: 280px;
  width: 60%;
  height: 60%;
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
