header.masthead,
  {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #232223;
  background-position: center center;
  @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    @media (max-height: 768px) {
      font-size: 1.7rem;
      font-weight: 700;
    }
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

section.masthead,
  {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #232223;
  background-position: center center;
  @include background-cover;
  @media (min-width: 1200px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
