// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin sans-serif-font() {
  font-family: 'Rubik', sans-serif;
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  padding: 80px;
  margin: 40px;
  background-color: $color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
}

.circle {
  @include circle(250px, linear-gradient(90deg, #ffcf2a 0%, #ffc52d 20.77%, #ffab34 83.08%));
  color: #000;
  background-image: url(../img/Bitenny-%20Team%20member.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: #a4dbd3;
}
