// Styling for the navbar
#mainNav {
  border-bottom: none;
  background-color: $white;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($primary, .1);
    }
  }
  .navbar-nav {
    > li.nav-item {
      > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-900;
        padding-bottom: 20px;
        border-bottom: 3px solid white;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary !important;
          background-color: $white;
          border-bottom: 3px solid #f05f40;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: $white;
    background-color: $white;
    .navbar-brand {
      color: fade-out($white, .3);
      &:focus,
      &:hover {
        color: $white;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 20px 1rem;
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      padding: 20px 1rem;
      color: fade-out($black, .3);
      &:hover {
        color: #30AAE8;

      }
    }
    &.navbar-shrink {
      border-bottom: none;
      .navbar-brand {
        color: $primary;
        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $gray-900;
        &:hover {
          color: #30AAE8;
        }
      }
    }
  }
}

.navbar-logo {
  height: 50px;
  width: 120px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav > li.nav-item > .btn {
  margin-top: 11px;
}
